body {
    background-image: url(http://rs736.pbsrc.com/albums/xx8/adamd0110/shimmering-multistars.gif~c200);
}

.pomodoro-estimate{
    font-weight: bold;
    color: (0,0,255,);
    background-color: rgba(178,207,229,.5);
    border-radius: 50px;
    font-size: 14px;
    padding: 1px 12px 5px 10px;
   
    border: dotted  rgba(242, 242, 242, 0.7);
}

h1{
     background-color: rgba(178,207,229,.5);
     color:#0B0B61;
}
   

#add-new-todo-button{
    margin:auto;
    background-color: lightblue;
    padding: 10px;
    border: none;
    box-shadow: 2px 2px 2px #90A4AE;
    display: block;
    outline: none;
}


#add-new-todo-button:active{
    box-shadow: 1px 1px 1px #90A4AE; 
}

.back-container{
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/010/996/non_2x/vector-blake-squared-diamond-pattern.jpg);
    width: 65%;
    text-align:center;
    margin: -20px auto;
    
}

ul {
    background-color: rgba(242, 242, 242, 0.7);
    font-size:32px;
}